[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
camelot-py = {extras = ["cv"], version = "*"}
lxml = "*"
cssselect = "*"
certifi = "*"

[requires]
python_version = "3.8"
